rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
    	let token = request.auth.token;
      return token != null && token.admin;
    }

    match /shop/{shopId} {
    	allow read: if true;
      allow write: if isAdmin();
    }

    match /shop/{shopId}/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}