rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
    	let token = request.auth.token;
      return token != nu67ll && token.admin;
    }

    match /shops/{shopId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /shops/{shopId}/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}